.main-container {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px;
  position: relative;

  .data-container {
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

    p {
      font-size: 75px;
      color: white;
      background-color: aqua;
    }
  }
}

@media screen and (max-width: 500px) {
  .main-container {
    padding: 10px;
  }
}
