.error-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.error-container {
  font-size: 75px;
  color: white;
  border-radius: 10px;
  padding: 5px;

  &:active,
  :link,
  :visited {
    text-decoration: none;
    color: white;
  }

  div {
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    &:hover {
      cursor: default;
    }
    // transition: all 0.25s ease-in-out;

    // &:hover {
    //   opacity: 0.75;
    // }
  }
}

.click {
  div {
    transition: all 0.25s ease-in-out;

    &:hover {
      opacity: 0.75;
      cursor: pointer;
    }
  }
}

.no-click {
  animation: inNout 3.2s;
}

@keyframes inNout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 550px) {
  .error-container {
    font-size: 30px;
  }
}
