.loader-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.book-detail-container {
  width: 75%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 20px;
  padding-right: 60px;
  background-color: #f7f6f2;
  border-radius: 10px;
}

.book-detail-container .image-container {
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 325px;
  min-width: 150px;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

.book-detail-container .image-container img {
  width: 95%;
}

.book-detail-container .image-container p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.book-detail-container .info-container {
  height: 100%;
  overflow: hidden;
}

.book-detail-container .info-container .book-description {
  height: 100%;
  overflow: scroll;
}

.book-detail-container .info-container .book-description p {
  margin: 0;
}

.book-detail-container .escape-link {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 3rem;
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.book-detail-container .escape-link:hover {
  opacity: 0.75;
}

@media only screen and (max-width: 500px) {
  .book-detail-container {
    font-size: 10px;
    padding-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .book-detail-container .image-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .book-detail-container .image-container img {
    width: 50%;
  }
  .book-detail-container .image-container p {
    height: 40px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .book-detail-container .info-container {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .book-detail-container .info-container .book-description {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .book-detail-container .info-container h1 {
    margin-top: 0;
  }
  .book-detail-container .info-container h2 {
    margin-top: 0;
  }
  .book-detail-container .escape-link {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=bookDetails.css.map */