.search-container {
  width: 75%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-field {
  width: 70%;
  min-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-field * {
  margin: 0px 5px;
}

.search-field input {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  height: 30px;
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
  border-style: none;
  border-radius: 5px;
  border-color: white;
}

.search-field button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 25px;
  background: none;
  border: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.search-field button:hover:enabled {
  cursor: pointer;
  opacity: 0.75;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.search-options {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-options .option {
  margin-top: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-options .option select {
  height: 50%;
  font-family: 'Nunito', sans-serif;
}

@media screen and (max-width: 500px) {
  .search-container {
    width: 100%;
    height: 30%;
  }
  .search-container .search-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .search-container .search-field .search-input {
    width: 100%;
    margin-bottom: 5px;
  }
  .search-container .search-field .search-options {
    margin: 5px 5px;
  }
  .search-container .search-field .search-options .option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: aqua;
  }
}
/*# sourceMappingURL=search.css.map */